
<div *ngFor = "let prod of products" style="display:inline-block; flex-flow: row wrap; gap: 30px; justify-content: center;" class="col-md-6 col-xl-3">
    <mat-card class="example-card">
        <div style="text-align: center;">
            <mat-card-title style="text-align: center;">{{prod.productId}}</mat-card-title>
            <mat-card-title style="text-align: center;">{{prod.name}}</mat-card-title>
        </div><hr>
        <mat-card-content style="text-align: center;">
            <div>
                <p>Category: {{prod.category}}</p>
                <p>Type: {{prod.productType}}</p>
                <p>Base Price: Rs. {{prod.basePrice}}</p>
                <p>GST: Rs. {{prod.charges.gst}}</p>
                <p>Delivery Charges: Rs. {{prod.charges.delivery}}</p>
                <p>Final Price: Rs. {{prod.finalPrice}}</p>
            </div>
        </mat-card-content>
        <mat-card-actions style="text-align: center;">
            <button mat-raised-button color="warn" (click)="deleteProduct(prod.productId)">Delete</button>
        </mat-card-actions>
    </mat-card>
</div>
<div *ngIf = "products.length===0"><h1 style="margin-top: 5%; text-align: center;">You Do Not Have Any Product Yet</h1></div>

