<div style="display: flex;flex-direction: column; justify-content: center; width: 40%; padding: 5%; margin: auto;   ">
    <h2 style="text-align: center; margin-bottom: 10%;">Delete Product</h2>
    <mat-form-field appearance="fill">
        <mat-label>Select a ProductId to Delete</mat-label>
        <mat-select [(ngModel)] = "productId">
            <mat-option value="" disabled selected hidden>{{id}}</mat-option>
        <mat-option *ngFor="let ids of myID" value="{{ids.productId}}">
            {{ids.productId}}
        </mat-option>
        </mat-select>
    </mat-form-field> 
<div style="display: flex;gap: 3.5vw;justify-content: center;align-items: center;margin-top: 20px;">
    <button mat-stroked-button (click)="delete()" color="primary">Delete</button>
</div>
</div>