<mat-drawer-container class="example-container" style="height: 100%; text-align: center;justify-content: center; margin: auto;">
    <mat-drawer-content>
<div [formGroup]="Login" style="display: flex;flex-direction: column; justify-content: center;width: 30%; margin: auto; margin-top: 10%;">
    <mat-toolbar color = "primary" style="text-align: center; margin-bottom: 5%;"><span>Authorization</span></mat-toolbar>
    <mat-form-field appearance="legacy">
        <mat-label>ID</mat-label>
        <input matInput formControlName="emailid" type="text">
    </mat-form-field>
    <mat-form-field appearance="legacy">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password">
    </mat-form-field>
    <small style="color: red;">{{message}}</small>
    <div style="display: flex;gap: 3.5vw;justify-content: center;align-items: center;margin-top: 20px;">
        <button mat-stroked-button (click)="login()" [disabled]="!Login.valid" color="primary">Login</button>
    </div>
</div>

    
    <router-outlet></router-outlet>
</mat-drawer-content>
</mat-drawer-container>